.Item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 450px;
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px #000000;
}

.Item:last-child {
  margin-bottom: 0;
}

.Status {
  display: inline-block;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: 'grey';
}

.Avatar {
  margin-right: 15px;
  border-radius: 8px;
  background-color: khaki;
  padding: 10px;
}

.Name {
  font-size: 30px;
  font-weight: 500;
}
