.description {
  text-align: center;
}
.photo {
  margin-bottom: 15px;
  border-radius: 50%;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
  background-color: rgb(209, 228, 204);
}

.name {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.tag {
  font-size: 20px;
  color: grey;
  margin-bottom: 5px;
}

.location {
  composes: tag;
  margin-bottom: 10px;
}
