@value text-color from '../../styles/vars.module.css';



.statistics {
    padding: 0 ;
    background-color: text-color;
    width: 400px;
    margin: 0 auto;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  
}